* {
    font-family: roboto;
}

.btn-primary {
    background-color: aqua;
    height: 40px;
    min-width: 80px;
}

.back-btn{
    color: black;
    margin-left: 90%;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}